cidr_block = "10.0.0.0/16"
private_subnets = ["10.0.0.0/24","10.0.1.0/24"]
public_subnets = ["10.0.2.0/24","10.0.3.0/24"]
eks_cluster_name = "eks_cluster_nicatb"
worker_name = "eks_worker_name"
worker_type = "t3.medium"
cluster_version = "1.20"
AWS_ACCESS_KEY_ID = "{{ AWS_ACCESS_KEY_ID }}"
AWS_SECRET_ACCESS_KEY = "{{ AWS_SECRET_ACCESS_KEY }}"
petclinic_DB_NAME = "{{ petclinic_DB_NAME }}"
petclinic_DB_PASS = "{{ petclinic_DB_PASS }}"
petclinic_DB_USERNAME = "{{ petclinic_DB_USERNAME }}"