apiVersion: v1
kind: Secret
metadata:
  name: application-secret
type: Opaque
stringData:
  SPRING_PROFILES_ACTIVE: {{ petclinic_DB_NAME }}
  SPRING_DATASOURCE_URL: ""
  SPRING_DATASOURCE_USERNAME: {{ petclinic_DB_USERNAME }}
  SPRING_DATASOURCE_PASSWORD: {{ petclinic_DB_PASS }}

